* {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    direction: rtl;
}
body {
    height: 100%;
    width: 60%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header {
    text-align: center;
    margin-top: 15%;
}
.verfy {
    display: block;
    width: 100%;
    text-align: center;
    color: #e57373;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
}
.date {
    background-color: #f44336;
    text-align: center;
    padding: 15px;
    width: 25%;
    margin: 20px auto;
    color: #eeeeee;
    font-size: 1.1em;
    transform: skew(-0.06turn, 2deg);
}
@media (max-width: 568px) { 
    .date {
        width: 70%;
        font-size: 1em;
    }
    .header {
        font-size: .5em;
    }
    .result {
        font-size: 1em;
    }
}